---
layout: page
title: about
permalink: /about/
weight: 6
---

<div class="col-lg-10 mx-auto mt-5 article">

  <h1 id="about-me">About Me</h1>
  <p>
    Hi :wave:, Nice to meet you :smiley: <br />
  <p>
    I’m <b>Vineeta Jain</b> aka <b>Ninjavin</b>🥳, a 24-year-old
    Software engineer. I have pursued 🎓B.Tech (CSE) from Institute of
    Engineering &amp; Management, Kolkata. Though I reside in West
    Bengal, I am a native to Rajasthan. I have done Creative Writing and
    Graphic Designing in bits and pieces during my college days. I enjoy
    watching sunsets 🌇 while listening to Indie folk music. I love
    creating creative video content✨, and quizzing.
  </p>
  </p>

  <div class="book my-5" style="text-align: center">
    <b class="about-sec-h text-themed">Heads up! ⚠️ </b>
    <br />
    💡 An AI is only as smart as its user.

  </div>

  <hr style="background: #e4e4e4;" />

  <div class="about-sec-h text-themed"> 🖥️ Programming Skills </div>
  <div>
    <div class="about-pills">
      <span class="about-pill">HTML5</span>
      <span class="about-pill">CSS</span>
      <span class="about-pill">JavaScript</span>
      <span class="about-pill">React</span>
      <span class="about-pill">NextJs</span>
      <span class="about-pill">PHP</span>
      <span class="about-pill">SQL</span>
      <span class="about-pill">MongoDB</span>
      <span class="about-pill">NodeJS</span>
      <span class="about-pill">Microservices</span>
      <span class="about-pill">C++</span>
      <span class="about-pill">Git</span>
      <span class="about-pill">APIs and Postman</span>
      <span class="about-pill">Clearcase</span>
      <span class="about-pill">Oracle JET</span>
      <span class="about-pill">Linux</span>
      <span class="about-pill">RASA</span>
      <span class="about-pill">Docker</span>
      <span class="about-pill">Kubernetes</span>
      <span class="about-pill">Kafka</span>
      <span class="about-pill">Cursor</span>
      <span class="about-pill">Groq</span>
      <span class="about-pill">Java</span>
      <span class="about-pill">Websockets</span>
    </div>
  </div>


  <hr style="background: #e4e4e4;" />

  <div class="about-sec-h text-themed">💼 Work Experience </div>
  <div class="row">
    <div class="col">
      <div class="timeline-body">
        <div class="timeline-item">
          <div style="display: flex; align-items: center; margin-bottom: 0.25rem;">
            <img src="/assets/green-checkmark-line.svg" height="22" width="22" style="margin: 0rem !important;" />
            <p class="date text-muted"
              style="text-transform: uppercase; margin-bottom: 0; font-size: 13px; margin-left: 1rem;">January 2022 -
              July 2022</p>
          </div>
          <div class="content">
            <p style="font-size: 20px;">Project Intern</p>
            <p style="margin-top: -0.5rem;">Oracle CGBU</p>
          </div>
          <div class="work">
            <ul>
              <li>Worked on migration of product GUI to OJET</li>
              <li>Worked on legacy application's codebase & resolved bugs</li>
              <li>Worked on major upgrade version activity & fixed issues</li>
            </ul>
          </div>
        </div>
        <div class="timeline-item">
          <div style="display: flex; align-items: center; margin-bottom: 0.25rem;">
            <img src="/assets/green-checkmark-line.svg" height="22" width="22" style="margin: 0rem !important;" />
            <p class="date text-muted"
              style="text-transform: uppercase; margin-bottom: 0; font-size: 13px; margin-left: 1rem;">February 2021 -
              July 2021</p>
          </div>
          <div class="content">
            <p style="font-size: 20px;">Software Engineering Intern</p>
            <p style="margin-top: -0.5rem;">The Internet Folks</p>
          </div>
          <div class="work">
            <ul>
              <li>Leveraged Microservices Architecture Pattern to keep system loosely-coupled</li>
              <li>Developed user interface components using React and NextJs</li>
              <li>Implemented them using well known React.js workflows</li>
              <li>Developed reusable components using front-end libraries for future use</li>
            </ul>
          </div>
        </div>
        <div class="timeline-item">
          <div style="display: flex; align-items: center; margin-bottom: 0.25rem;">
            <img src="/assets/green-checkmark-line.svg" height="22" width="22" style="margin: 0rem !important;" />
            <p class="date text-muted"
              style="text-transform: uppercase; margin-bottom: 0; font-size: 13px; margin-left: 1rem;">December 2020 -
              January 2021</p>
          </div>
          <div class="content">
            <p style="font-size: 20px;">Web Development Intern</p>
            <p style="margin-top: -0.5rem;">Y2K BD Ltd.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr style="background: #e4e4e4;" />

  <div class="about-sec-h text-themed">🎓 Education </div>
  <div class="row" style="display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px;">
    <div class="col">
      <div class="timeline-body">
        <div class="timeline-item">
          <div style="display: flex; align-items: center; margin-bottom: 0.25rem;">
            <img src="/assets/green-checkmark-line.svg" height="22" width="22" style="margin: 0rem !important;" />
            <p class="date text-muted"
              style="text-transform: uppercase; margin-bottom: 0; font-size: 13px; margin-left: 1rem;">August 2018 -
              Present</p>
          </div>
          <div class="content">
            <p style="font-size: 20px;">B.Tech in Computer Science</p>
            <p style="margin-top: -0.5rem;">Institute of Engineering & Management, Kolkata</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--   
    <div class="row">
      {% include about/skills.html title="Programming Skills"
      source=site.data.programming-skills %} {% include about/skills.html
      title="Other Skills" source=site.data.other-skills %}
    </div> -->

  <!-- <div class="row">{% include about/timeline.html %}</div> -->

</div>