---
layout: page
title: about
permalink: /about/
weight: 3
---

<div class="col-lg-10 mx-auto mt-5 article">

  <h1 id="about-me">About Me</h1>
  <p>
    Hi :wave:, Nice to meet you :smiley: <br />
    <p>
      I’m <b>Vineeta Jain</b> aka <b>Ninjavin</b>🥳, a 20-year-old final year
      engineering student currently pursuing 🎓B.Tech (CSE) from Institute of
      Engineering & Management, Kolkata. I currently live in West Bengal, India. I
      enjoy reading books📗 and listing to Indie folk music. I love creating
      creative video content✨, and quizzing.
    </p>
  </p>
  
  <div class="book my-5" style="text-align: center">
    <b class="about-sec-h text-themed">Currently reading 📕: </b>
    <br />
    - Ikigai: The Japanese Secret to a Long and Happy Life

  </div>
  
    <hr style="background: #e4e4e4;"/>

    <div class="about-sec-h text-themed"> 🖥️ Programming Skills </div>
    <div>
      <div class="about-pills">
        <span class="about-pill">HTML5</span>
        <span class="about-pill">CSS</span>
        <span class="about-pill">JavaScript</span>
        <span class="about-pill">React</span>
        <span class="about-pill">MongoDB</span>
        <span class="about-pill">NodeJS</span>
        <span class="about-pill">Microservices</span>
        <span class="about-pill">C++</span>
      </div>
    </div>

    
    <hr style="background: #e4e4e4;"/>

    <div class="about-sec-h text-themed">💼 Work Experience </div>
    <div class="row">
      <div class="col mt-4">
        <div class="timeline-body">
          <div class="timeline-item">
            <div style="display: flex;">
              <p class="date text-muted" style="text-transform: uppercase; margin-bottom: 0; font-size: 15px;">February 2021 - July 2021</p>
            </div>
            <div class="content">
              <h5>Software Engineering Intern</h5>
              <p style="margin-top: -0.5rem;">The Internet Folks</p>
            </div>
          </div>
          <div class="timeline-item">
            <div style="display: flex;">
              <p class="date text-muted" style="text-transform: uppercase; margin-bottom: 0; font-size: 15px;">December 2020 - January 2021</p>
            </div>
            <div class="content">
              <h5>Web Development Intern</h5>
              <p style="margin-top: -0.5rem;">Y2K BD Ltd.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr style="background: #e4e4e4;"/>

    <div class="about-sec-h text-themed">🎓 Education </div>
    <div class="row" style="display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px;">
      <div class="col mt-4">
        <div class="timeline-body">
          <div class="timeline-item">
            <div style="display: flex;">
              <p class="date text-muted" style="text-transform: uppercase; margin-bottom: 0; font-size: 15px;">August 2018 - Present</p>
            </div>
            <div class="content">
              <h5>B.Tech in Computer Science</h5>
              <p style="margin-top: -0.5rem;">Institute of Engineering & Management, Kolkata</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
<!--   
    <div class="row">
      {% include about/skills.html title="Programming Skills"
      source=site.data.programming-skills %} {% include about/skills.html
      title="Other Skills" source=site.data.other-skills %}
    </div> -->
  
    <!-- <div class="row">{% include about/timeline.html %}</div> -->
  
</div>

